In [3]:
#importan library
import numpy as np
import pandas as pd

In [5]:
#data
jumlahdata = 1000
umur = np.random.randint(23,35, size = jumlahdata)
gender = np.random.choice(['L','P'],size = jumlahdata)
pendidikan = np.random.choice(['SMA','SMK','Sarjana','Magister'],size = jumlahdata)
Bahasa_Pemrograman = np.random.choice(['java','python','javaScript','C++','C#'],size = jumlahdata)
Peran_pekerjaan = np.random.choice(['Backend Developer','Frontend Developer','Fullstack Developer','Data Scientist','UI/UX'],size = jumlahdata)
gaji = np.random.choice([6000000, 3000000, 4000000, 5000000], size=jumlahdata)
tempat_kerja = np.random.choice(['rumah/remote','office/kantor'],size = jumlahdata)
Jabatan_kerja = np.random.choice(['junior','Mid','Senior','Leader'],size = jumlahdata)
Sertifikasi = np.random.randint(0,10, size = jumlahdata)
TugasSelesai = np.random.randint(0,20, size = jumlahdata)

df = pd.DataFrame({
    'umur' : umur,
    'gender' : gender,
    'pendidikan' : pendidikan,
    'Bahasa pemrograman' : Bahasa_Pemrograman,
    'peran pekerjaan' : Peran_pekerjaan,
    'gaji' : gaji,
    'tempat kerja' : tempat_kerja,
    'Jabatan kerja' : Jabatan_kerja,
    'Sertifikasi' : Sertifikasi,
    'Tugas yang telah di Selesaikan' : TugasSelesai,
})

In [7]:
# menampilkan karakteristik data, 5 tabl baris pertama,umur termuda,tertua dan rata rata umur developer
print(df)
print(df.info()) #menampilkan karakteristik data
print(df.head()) 
print("")
print(f"usia Developer termuda : {df['umur'].min()}")
print(f"usia Developer tertua : {df['umur'].max()}")
print(f"usia rata-rata developer : {df['umur'].mean().astype(int)}")

     umur gender pendidikan Bahasa pemrograman      peran pekerjaan     gaji  \
0      31      L        SMK             python    Backend Developer  3000000
1      30      L   Magister                C++       Data Scientist  6000000
2      33      P   Magister             python                UI/UX  4000000
3      23      P    Sarjana             python                UI/UX  5000000
4      29      P   Magister         javaScript  Fullstack Developer  6000000
..    ...    ...        ...                ...                  ...      ...
995    24      P    Sarjana                 C#    Backend Developer  6000000
996    31      L        SMK                C++    Backend Developer  5000000
997    28      L        SMA         javaScript   Frontend Developer  3000000
998    33      P        SMK                C++       Data Scientist  5000000
999    26      P   Magister         javaScript                UI/UX  4000000

      tempat kerja Jabatan kerja  Sertifikasi  Tugas yang telah di Selesaikan
0    office/kantor        Senior            2                              12
1     rumah/remote           Mid            1                              11
2     rumah/remote        Leader            6                              14
3     rumah/remote        junior            3                               0
4     rumah/remote        Senior            6                              10
..             ...           ...          ...                             ...
995  office/kantor        Leader            3                              12
996   rumah/remote        Senior            7                               5
997  office/kantor        Senior            0                               2
998   rumah/remote        Leader            5                               4
999   rumah/remote        junior            3                               3

[1000 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   umur                            1000 non-null   int32
 1   gender                          1000 non-null   object
 2   pendidikan                      1000 non-null   object
 3   Bahasa pemrograman              1000 non-null   object
 4   peran pekerjaan                 1000 non-null   object
 5   gaji                            1000 non-null   int32
 6   tempat kerja                    1000 non-null   object
 7   Jabatan kerja                   1000 non-null   object
 8   Sertifikasi                     1000 non-null   int32
 9   Tugas yang telah di Selesaikan  1000 non-null   int32
dtypes: int32(4), object(6)
memory usage: 62.6+ KB
None
   umur gender pendidikan Bahasa pemrograman      peran pekerjaan     gaji  \
0    31      L        SMK             python    Backend Developer  3000000
1    30      L   Magister                C++       Data Scientist  6000000
2    33      P   Magister             python                UI/UX  4000000
3    23      P    Sarjana             python                UI/UX  5000000
4    29      P   Magister         javaScript  Fullstack Developer  6000000

    tempat kerja Jabatan kerja  Sertifikasi  Tugas yang telah di Selesaikan
0  office/kantor        Senior            2                              12
1   rumah/remote           Mid            1                              11
2   rumah/remote        Leader            6                              14
3   rumah/remote        junior            3                               0
4   rumah/remote        Senior            6                              10

usia Developer termuda : 23
usia Developer tertua : 34
usia rata-rata developer : 28

In [9]:
#menampilakan jumalah developer yang bekerja secara remote dan kerja offline
jmlRemote = df[df['tempat kerja']=='rumah/remote']
print(f"jumlah Developer yang bekerja dirumah/remote : {jmlRemote['tempat kerja'].size}")

jmlRumah = df[df['tempat kerja']=='office/kantor']
print(f"jumlah Developer yang bekerja dioffice/kantor : {jmlRumah['tempat kerja'].size}")

jumlah Developer yang bekerja dirumah/remote : 528
jumlah Developer yang bekerja dioffice/kantor : 472

In [11]:
#menampilkan jumalah developer yang mengguanakan bahasa pemrograman java, python, javaScript, C++ dan C#
jmlJava = df[df['Bahasa pemrograman']=='java']
print(f"jumlah Developer yang menggunakan bahasa pemrograman java : {jmlJava['Bahasa pemrograman'].size}")

jmlPython = df[df['Bahasa pemrograman']=='python']
print(f"jumlah Developer yang menggunakan bahasa pemrograman python : {jmlPython['Bahasa pemrograman'].size}")

jmlJavaScript = df[df['Bahasa pemrograman']=='javaScript']
print(f"jumlah Developer yang menggunakan bahasa pemrograman javaScript : {jmlJavaScript['Bahasa pemrograman'].size}")

jmlCCC = df[df['Bahasa pemrograman']=='C++']
print(f"jumlah Developer yang menggunakan bahasa pemrograman C++ : {jmlCCC['Bahasa pemrograman'].size}")

jmlCc = df[df['Bahasa pemrograman']=='C#']
print(f"jumlah Developer yang menggunakan bahasa pemrograman C# : {jmlCc['Bahasa pemrograman'].size}")

jumlah Developer yang menggunakan bahasa pemrograman java : 200
jumlah Developer yang menggunakan bahasa pemrograman python : 198
jumlah Developer yang menggunakan bahasa pemrograman javaScript : 190
jumlah Developer yang menggunakan bahasa pemrograman C++ : 193
jumlah Developer yang menggunakan bahasa pemrograman C# : 219

In [13]:
#tampilkan jumalah developer yang lulusan SMA, SMK, Sarjana,Magister
jmlSMA = df[df['pendidikan']=='SMA']
print(f"jumlah Developer yang berpendidikan SMA : {jmlSMA['pendidikan'].size}")

jmlSMK = df[df['pendidikan']=='SMK']
print(f"jumlah Developer yang berpendidikan SMK : {jmlSMK['pendidikan'].size}")

jmlSarjana = df[df['pendidikan']=='Sarjana']
print(f"jumlah Developer yang berpendidikan Sarjana(s1) : {jmlSarjana['pendidikan'].size}")

jmlMagister = df[df['pendidikan']=='Magister']
print(f"jumlah Developer yang berpendidikan Magister(S2) : {jmlMagister['pendidikan'].size}")

jumlah Developer yang berpendidikan SMA : 268
jumlah Developer yang berpendidikan SMK : 255
jumlah Developer yang berpendidikan Sarjana(s1) : 245
jumlah Developer yang berpendidikan Magister(S2) : 232

In [15]:
#tampilkan jumalah developer yang lulusan SMA, SMK, Sarjana,Magister
jmlBD = df[df['peran pekerjaan']=='Backend Developer']
print(f"jumlah Developer yang bekerja sebagai Backend Developer : {jmlBD['peran pekerjaan'].size}")

jmlFD = df[df['peran pekerjaan']=='Frontend Developer']
print(f"jumlah Developer yang bekerja sebagai Frontend Developer : {jmlFD['peran pekerjaan'].size}")

jmlFSD = df[df['peran pekerjaan']=='Fullstack Developer']
print(f"jumlah Developer yang bekerja sebagai Fullstack Developer : {jmlFSD['peran pekerjaan'].size}")

jmlDS = df[df['peran pekerjaan']=='Data Scientist']
print(f"jumlah Developer yang bekerja sebagai Data Scientist : {jmlDS['peran pekerjaan'].size}")

jmlUIUX = df[df['peran pekerjaan']=='UI/UX']
print(f"jumlah Developer yang bekerja sebagai UI/UX : {jmlUIUX['peran pekerjaan'].size}")

jumlah Developer yang bekerja sebagai Backend Developer : 200
jumlah Developer yang bekerja sebagai Frontend Developer : 201
jumlah Developer yang bekerja sebagai Fullstack Developer : 189
jumlah Developer yang bekerja sebagai Data Scientist : 207
jumlah Developer yang bekerja sebagai UI/UX : 203

In [17]:
#tampilkan jumalah developer yang lulusan SMA, SMK, Sarjana,Magister
jmljunior = df[df['Jabatan kerja']=='junior']
print(f"jumlah Developer yang berjabatan junior : {jmljunior['Jabatan kerja'].size}")

jmlMid = df[df['Jabatan kerja']=='Mid']
print(f"jumlah Developer yang berjabatan Mid : {jmlMid['Jabatan kerja'].size}")

jmlSenior = df[df['Jabatan kerja']=='Senior']
print(f"jumlah Developer yang berjabatan Senior : {jmlSenior['Jabatan kerja'].size}")

jmlLeader = df[df['Jabatan kerja']=='Leader']
print(f"jumlah Developer yang berjabatan Leader : {jmlLeader['Jabatan kerja'].size}")

jumlah Developer yang berjabatan junior : 260
jumlah Developer yang berjabatan Mid : 230
jumlah Developer yang berjabatan Senior : 256
jumlah Developer yang berjabatan Leader : 254

In [19]:
print(df[['umur','Sertifikasi','gaji','Tugas yang telah di Selesaikan']].describe().astype(int))

       umur  Sertifikasi     gaji  Tugas yang telah di Selesaikan
count  1000         1000     1000                            1000
mean     28            4  4549000                               9
std       3            2  1111230                               5
min      23            0  3000000                               0
25%      25            2  4000000                               5
50%      28            4  5000000                              10
75%      31            7  6000000                              15
max      34            9  6000000                              19

In [21]:
#menampilkan jumlah frekuensi
print(df['pendidikan'].value_counts())
print()
print(df['Bahasa pemrograman'].value_counts())
print()
print(df['peran pekerjaan'].value_counts())
print()
print(df['tempat kerja'].value_counts())
print()
print(df['Jabatan kerja'].value_counts())

pendidikan
SMA         268
SMK         255
Sarjana     245
Magister    232
Name: count, dtype: int64

Bahasa pemrograman
C#            219
java          200
python        198
C++           193
javaScript    190
Name: count, dtype: int64

peran pekerjaan
Data Scientist         207
UI/UX                  203
Frontend Developer     201
Backend Developer      200
Fullstack Developer    189
Name: count, dtype: int64

tempat kerja
rumah/remote     528
office/kantor    472
Name: count, dtype: int64

Jabatan kerja
junior    260
Senior    256
Leader    254
Mid       230
Name: count, dtype: int64

In [23]:
#menampilkan korelasi antar kolom numerik yang ada di data
print(df.corr(numeric_only=True))

                                    umur      gaji  Sertifikasi  \
umur                            1.000000  0.039689     0.073982
gaji                            0.039689  1.000000     0.001184
Sertifikasi                     0.073982  0.001184     1.000000
Tugas yang telah di Selesaikan -0.008603 -0.071869     0.012449

                                Tugas yang telah di Selesaikan
umur                                                 -0.008603
gaji                                                 -0.071869
Sertifikasi                                           0.012449
Tugas yang telah di Selesaikan                        1.000000

In [25]:
df.to_csv("DataDeveloper.csv")