<h1>1. Biodata Sederhana</h1>

In [24]:
nama = input("Masukkan nama Anda: ")
umur = input("Masukkan umur Anda: ")
alamat = input("Masukkan alamat Anda: ")
hobi = input("Masukkan hobi Anda: ")
Kampus = input("Masukkan kampus Anda: ")
#1 
biodata = "Nama: {}\nUmur: {}\nAlamat: {}\nHobi: {}\nKampus: {}".format(nama, umur, alamat, hobi, Kampus)
print("\nBiodata Anda:\n", biodata)
#2 
biodata = "Nama: {0}\nUmur: {1}\nAlamat: {2}\nHobi: {3}\nKampus: {4}".format(nama, umur, alamat, hobi, Kampus)
print("\nBiodata Anda:\n", biodata)
#3
biodata = "Nama: {n}\nUmur: {u}\nAlamat: {a}\nHobi: {h}\nKampus: {k}".format(n=nama, u=umur, a=alamat, h=hobi, k=Kampus)
print("\nBiodata Anda:\n", biodata)

Masukkan nama Anda:  latip
Masukkan umur Anda:  21
Masukkan alamat Anda:  citamiang
Masukkan hobi Anda:  mendaki
Masukkan kampus Anda:  universitas nusaputra

Biodata Anda:
 Nama: latip
Umur: 21
Alamat: citamiang
Hobi: mendaki
Kampus: universitas nusaputra

Biodata Anda:
 Nama: latip
Umur: 21
Alamat: citamiang
Hobi: mendaki
Kampus: universitas nusaputra

Biodata Anda:
 Nama: latip
Umur: 21
Alamat: citamiang
Hobi: mendaki
Kampus: universitas nusaputra

<h1>2.manipulasi String</h1>

In [26]:
kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"


# a. putra nusa
KataKalimat = kalimat.split()
a = f"{kata_kalimat[2].lower()} {KataKalimat[1].lower()}"
print("a.", a)


# b. NIVERSITAS NSA PTRA SKABMI
b = kalimat.replace("U", "").replace("U", "")
print("b.", b)

# c. SUKABUMI PUTRA NUSA UNIVERSITAS
c = " ".join(kalimat.split()[::-1])
print("c.", c)

# d. UNPS
d = "".join([kata[0] for kata in kalimat.split()])
print("d.", d)

# e. TAS SAPU BUMI
e = kalimat[8:11] + " " + kalimat[14:19].replace(" ", "") + " " + kalimat[-4:]
print("e.", e)

a. putra nusa
b. NIVERSITAS NSA PTRA SKABMI
c. SUKABUMI PUTRA NUSA UNIVERSITAS
d. UNPS
e. TAS SAPU BUMI